html, body {
    color: rgb(71, 71, 71);   
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}