/* RESPONSIVE */

@media screen and (min-width: 1200px) {
    .mv_container {
        max-width: 1170px
    }
    .mv_hero {
        min-height: 650px;
    }
    .show-wines {
        [class*="content-wine"] {
            .bottle {
                min-height: 700px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .home-main {
        aside {
            .aside-menu ul li a {
                font-size: 1.2rem;
                padding-bottom: 0.5em;
            }
        }
    }
    .container-lens {
        padding: 6em 3em;
    }
    .show-wines [class*=content-wine] {
        h2 {
            max-width: none;
        }
    }
    #mv_regiao_grapes {
        .grapes-section {
            margin-right: 0;
            .grapes-titles {
                text-align: center;
            }
            .region-content .region-grapes-group {
                .grape-img {
                    margin-bottom: 1em;
                    img {
                        max-width: 100%;
                        margin-right: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
    .patrimonio .st-emilion-desc {
        padding: 5em;
        text-align: center;
    }
}


/*@media screen and (max-width: 1200px) and (orientation:portrait) {
    .home-main {
        padding-left: 1.5em;
        padding-right: 1.5em;
        h1.titleh1 {
            order: 1;
        }
        aside {
            order: 2;
            width: 100%;
            .aside-menu {
                padding-left: 0;
                ul {
                    order: 2;
                    li {
                        float: left;
                        margin-left: 1em;
                        margin-right: 0;
                        width: calc(50% - 1em);
                        &:nth-child(2n+1) {
                            margin-left: 0;
                            margin-right: 1em;
                        }
                        a {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
        .social-medias {
            align-items: start;
            display: table;
            order: 3;
            width: 100%;
            a>i {
                font-size: 2.4rem;
                margin-right: 1em;
            }
        }
    }
}
*/

@media screen and (max-width: 1200px) and (orientation:landscape) {
    .productor-presentation .productor-text {
        padding: 2.5rem 0 2rem 2.5rem;
    }
    .container-grapes {
        .grapes-bg-text,
        .terroir-bg-text {
            font-size: 8rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .home-main {
        flex-direction: column;
        justify-content: space-evenly;
        h1.titleh1 {
            font-size: 3rem;
            order: 1;
            text-align: left;
        }
        .social-medias {
            order: 2;
        }
        aside {
            order: 3;
            .aside-menu {
                padding-left: 0;
            }
        }
    }
    .mv_hero {
        h2 {
            font-size: 2.8rem;
        }
        h3 {
            font-size: 1.8rem;
        }
    }
    .show-wines [class*=content-wine] {
        padding-left: 0;
        .mv_col-6 {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }
        img.bottle {
            max-width: none;
            width: auto;
        }
        .price,
        .price>.button {
            display: block;
            text-align: center;
            width: 100%;
        }
        .price {
            h5 {
                font-size: 2rem;
                margin-right: 0;
            }
        }
    }
    .productor-presentation {
        .img-productor,
        .productor-text {
            &.mv_col-6 {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 1em 15px;
                width: 100%;
            }
        }
    }
    .container-grapes {
        .grapes-bg-text,
        .terroir-bg-text {
            display: none;
        }
        h3 {
            max-width: none;
        }
        .grapes-content .grapes-group .grapes-desc p {
            max-width: none;
        }
    }
}

@media screen and (max-width: 1200px) and (orientation:portrait) {
    .home-main {
        padding-left: 1.5em;
        padding-right: 1.5em;
        h1.titleh1,
        aside,
        .social-medias {
            max-width: none;
            width: 100%;
        }
        aside {
            order: 2;
            .aside-menu {
                padding-left: 0;
                ul {
                    width: 100%;
                    li {
                        float: left;
                        margin-left: 1em;
                        margin-right: 0;
                        width: calc(50% - 1em);
                    }
                    li:nth-child(2n+1) {
                        margin-left: 0;
                        margin-right: 1em;
                    }
                }
            }
        }
        .social-medias {
            align-items: start;
            display: table;
            order: 3;
            a>i {
                font-size: 2.4rem;
                margin-right: 1em;
            }
        }
    }
}

@media screen and (max-width: 992px) and (orientation:landscape) {
    .container-lens {
        padding: 2em 3em;
    }
    .home-main {
        h1.titleh1 {
            font-size: 1.8rem;
            max-width: 50%;
        }
        aside {
            .aside-menu {
                ul li {
                    margin: 0;
                    padding: 0;
                }
            }
        }
        .social-medias {
            align-items: start;
            display: table;
            width: 50%;
            a {
                margin-right: 1em;
            }
        }
    }
}

@media screen and (max-height: 1200px) and (orientation: landscape) {
    .home-main {
        h1.titleh1 {
            font-size: 3.9rem;
            padding-right: 1em;
        }
        aside .aside-menu ul li a {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .mv_logo {
        img {
            max-width: 80px;
        }
    }
    .productor_img {
        margin-top: 0;
        max-width: 100%;
    }
    .productor_list_right .productor_list_title {
        font-size: 1.6rem;
        margin-top: 1em;
    }
    .productor_list_text {
        font-size: 1.2rem;
    }
    .productor_button_list {
        font-size: 1.2rem;
    }
    .show-wines {
        [class*="content-wine"] {
            padding-left: 0;
            h2 {
                max-width: 100%;
            }
            h6 {
                font-size: 1.6rem;
                padding-top: 0;
            }
            .price,
            .price>* {
                display: block;
                text-align: center;
                width: 100%;
            }
        }
        .mv_col-6 {
            padding-left: 3em;
            padding-right: 3em;
        }
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    html,
    body {
        font-size: .9rem;
    }
    .container-lens {
        padding: 2em;
    }
    .mv_hero {
        height: auto;
        max-height: none;
        min-height: 0;
        padding: 12em 0 5em;
    }
    .home-main {
        h1.titleh1 {
            font-size: 2.4rem;
            max-width: 50%;
        }
        .aside-menu li a {
            padding-bottom: 0;
        }
    }
}

@media screen and (max-height: 1200px) and (orientation: landscape) {
    .home-main {
        h1.titleh1 {
            font-size: 3.4rem;
            padding: 0 1em;
        }
    }
}

@media screen and (max-width: 576px) {
    html,
    body {
        font-size: .7rem;
    }
    .container-lens {
        padding: 3em 1.5em;
    }
    .home-main {
        h1.titleh1 {
            font-size: 2.2rem;
        }
        aside {
            .aside-menu {
                ul li {
                    margin-left: 0;
                    width: 100%;
                    &:nth-child(2n+1) {
                        margin-right: 0;
                    }
                    a {
                        font-size: 1.2rem;
                        padding: 1em 0 0.5em;
                    }
                }
            }
        }
    }
    .show-wines [class*=content-wine] img.bottle {
        height: auto;
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-height: 576px) and (orientation: landscape) {
    .home-main {
        justify-content: center;
        h1.titleh1 {
            font-size: 2rem;
            padding-left: 0;
        }
        aside {
            margin-top: -5em;
            .aside-menu {
                justify-content: start;
                ul {
                    li {
                        margin-left: 0;
                        width: 100%;
                        &:nth-child(2n+1) {
                            margin-right: 0;
                        }
                        a {
                            font-size: 1rem;
                            padding: 1em 0 0.5em;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-height: 480px) and (orientation: landscape) {
    .home-main {
        aside {
            margin-top: -2em;
        }
    }
}

@media screen and (max-width: 320px) {
    .home-main {
        h1.titleh1 {
            font-size: 2rem;
        }
        aside {
            .aside-menu {
                justify-content: start;
                ul {
                    li {
                        margin-left: 0;
                        width: 100%;
                        &:nth-child(2n+1) {
                            margin-right: 0;
                        }
                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-height: 360px) and (orientation: landscape) {
    .home-main {
        /*h1.titleh1 {
            font-size: 1.6rem;
        }*/
        aside {
            margin-top: -5em;
            .aside-menu {
                ul li {
                    a {
                        font-size: .8rem;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}